*.gem
*.rbc
*.o
*.so
*.bundle
*.x509
*.jar
.config
meta_*
keystore.cbrahms
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
publications

# YARD artifacts
.yardoc
_yardoc
doc/
