body,th { 
  color: #aa0000;  
  background-color: #ffffff;
  font-size: 9pt;
  line-height: 11pt; 
  font-family: sans-serif;
  font-variant: normal;
  font-style: normal;
}

td { 
  color: #aa0000;  
  background-color: #ffffff;
  font-size: 9pt;
  line-height: 11pt; 
  font-family: monospace;
  font-variant: normal;
  font-style: normal;
}

a { 
  font-size: 9pt;
  line-height: 11pt; 
  font-family: sans-serif; 
  font-variant: normal;
  font-style: normal;
}

h1 { 
  color: #000000;  
  background-color: white;  
  font-weight: bold; 
  font-size: 10pt;
  line-height: 11pt; 
  font-family: sans-serif; 
  font-variant: normal;
  font-style: normal;
}

table { 
  font-weight: normal; 
  font-size: 10pt;
  line-height: 10pt; 
  font-family: sans-serif; 
  font-variant: normal;
  font-style: normal;
  border: solid;
}
