body { 
  color: #aa0000;  
  font-size: 9pt;
  line-height: 11pt; 
  font-family: sans-serif;
}

a { 
  color: #aa0000;  
  font-size: 9pt;
  line-height: 11pt; 
  font-family: sans-serif; 
}

table { 
  border:1px solid;
  border-radius:10px;
  font-weight: normal; 
  font-size: 10pt;
  line-height: 10pt; 
  font-family: sans-serif; 
  padding: 8px;
  margin: 6px;
  background-color: #e6f1f6;  
}

th,td { 
  color: #aa0000;  
  font-size: 9pt;
  line-height: 11pt; 
}

td {
  font-family: monospace;
}
